# Job Market Analysis Example

This notebook demonstrates a simple analysis of job postings.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load Example Data

In [ ]:
data = {
    'Job Title': ['Data Analyst', 'AI Engineer', 'Data Scientist', 'ML Engineer'],
    'Company': ['Company A', 'Company B', 'Company C', 'Company D'],
    'Location': ['Riyadh', 'Jeddah', 'Dammam', 'Riyadh'],
    'Skills': ['Python, Excel', 'Python, ML, NLP', 'Python, SQL, Statistics', 'Python, ML, Deep Learning']
}

df = pd.DataFrame(data)
df.head()

## Analyze Top Skills

In [ ]:
skills_list = df['Skills'].str.split(', ').explode()
skill_counts = skills_list.value_counts()
skill_counts

## Plot Top Skills

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x=skill_counts.values, y=skill_counts.index, palette='viridis')
plt.title('Top Skills in Job Postings')
plt.xlabel('Count')
plt.ylabel('Skill')
plt.show()

## Notes
- You can add more columns like `Industry`, `Experience Level` later.
- This is a simple example to showcase practical data analysis skills in GitHub.